.classpath
.project

/target/
*/target/**
/.settings/
*/.settings/**

#exclude .gitignore files on sub-projects. 
#since  .gitignore on sub-folders is only for eclipse purpose
.gitignore

#all subfolders starting with .
#.*/ 